.game1 {
   height: calc(100vh - 50px);
    .grid {
       display: inline-block;
    }
      
    .cell {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; 
      transition: background-color 0.3s;
      &:hover {
         border:2px solid #c32ce2 !important;
      }
    }
      
    .selected {
       border: 2px solid #c32ce2 !important;
    }
    
   .hint {
      border:2px solid rgba(0, 162, 255) !important;  
   }
  
}
